/**
    Colors.css

    SCRUM RMS PROJECT

    These styles are used to apply colors to html elements

    The following convention is used:

        - .bg-[colorname] for background-color
        - .color-[colorname] for text colors
        - .color-active-[colorname] for color change on active

*/

/* background-colors */

.bg-green {
    background-color: #24989E;
}

.bg-green:disabled {
    background-color: #769d9e;
}

.bg-red {
    background-color: #DC3430;
}

.bg-blue {
    background-color: #2E5FA1;
}

.bg-yellow {
    background-color: #F0AB31;
}

.bg-dark {
    background-color: #23383B;
}

.bg-sidepanel {
    background-color: #33484b;
}

.bg-grey {
    background-color: #3f5f63;
}

.bg-red-lighter {
    background-color: #f34943;
}

.bg-warning {
    background-color: rgb(154, 88, 88);
}

.bg-transparant {
    opacity: 0.8;
}

/* active colors */

.color-active-green:active {
    background-color: #34dfd6;
}

.color-active-grey:active {
    background-color: #558085;
}

.color-active-red:active {
    background-color: #f34943;
}

.color-active-blue:active {
    background-color: #3d7ed5;
}

.color-active-yellow:active {
    background-color: #ffd25f;
}

.urgent {
    background-color: #DC3430;
}

.urgent:active {
    background-color: #f34943;
}

.occupied {
    background-color: #F0AB31;
}

.occupied:active {
    background-color: #f4c41d;
}

.text-color-black {
    color: black;
}